.dock {
    display: flex;
    gap: 0.75rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);

    background: rgba(82, 81, 81, 0.2);
    backdrop-filter: blur(10px);

    padding-inline: 1rem;
    padding-block: 0.75rem;

    border-radius: 0.75rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;
    padding: 0.65rem;
    aspect-ratio: 1/1;
    background: linear-gradient(rgb(61, 59, 59), rgb(27, 26, 26));
    cursor: pointer;

    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.icon:hover {
    transform: scale(1.2) translateY(-20%);
}

.icon:hover+.icon,
.icon:has(+.icon:hover) {
    transform: scale(1) translateY(-10%);
}

.icon:hover+.icon+.icon,
.icon:has(+.icon+.icon:hover) {
    transform: scale(0.9) translateY(-5%);
}

.icon:hover+.icon+.icon+.icon,
.icon:has(+.icon+.icon+.icon:hover) {
    transform: scale(0.8) translateY(-2%);
}